.homeContainer {
  height: 500px;
}

.pillContainer {
  border: 2px solid blue;
  display: flex;
  border-radius: 5px;
}

.pill {
  border: 2px solid green;
  margin: 5px 10px;
  background: green;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.btnPill{
  margin-left: 10px;

}

.pillHighlighted {
  background: red;
}